{% extends "layout.html" %}

{% block title %}BetterMuslim{% endblock %}

{% block main %}
<div class="container">
<h1 class="display-1">Hello, {{ name }}</h1>
    
        
            <p>This is a web app, where a Muslim (or anyone) can get the core understanding of Islam: <a href="https://www.abuaminaelias.com/dailyhadithonline/2012/03/17/five-pillars-of-islam/">5 pillars of Islam.</a></p>

            <p>By deeply understanding these 5 pillars, a muslim will be encouraged to be consistent in establishing it, and also encouraged to deep dive into the sea of Islamic teaching, about how to become a complete human being. Which contributes positively from their smallest circles (family and friends), to their widest (society, up to the whole-world).</p>

            <p><a href="https://muwasala.org/2011/09/07/the-believer-is-like-a-bee/">Just like a bee that leaves not but goodness in its trail.</a></p>
        </p>
            <ul>
                This web app includes:
                <li>
                    <a href="/resources">Resources</a>: this will teach you the 5 pillars of Islam, as well as how to learn Islam the correct way.
                </li>
                <li>
                    <a href="/todolists">To Do Lists</a>: you can make your own list. Also, after completing each lesson, you will have a new item corresponding with what you learned.
                </li>
                <li>
                    <a href="donations">Donation Center</a>: donate to the needy, those affected in war/conflict, poverty, disasters
                </li>
            </ul>
</div>

{% endblock %}