{% extends "layout.html" %}

{% block title %}Resources{% endblock %}

{% block main %}

    <div class="container">
        <h2>Learn it right</h2>
    </div>
    <div class="container">
        <div class="accordion" id="resource1">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading1">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        How to Learn Islam
                    </button>
                </h2>
                <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#resource1">
                    <div class="accordion-body">
                        <p>Basically, Islam has 2 main references: Al-Quran & Hadith. Both are deep and extensive and comprehensive, but require holistic knowledge in understanding it.
                        <br><strong>The rule of thumb is you need a teacher for learning Islam. Otherwise, you cannot try to draw any conclusions based on your reasons and your own understanding of a verse or a hadith!</strong>
                        <br>Always align your <a href="https://islamqa.info/en/answers/230969/how-can-the-muslim-begin-to-seek-knowledge">understanding with islamic scholars'!</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <h2>The 5 Pillars of Islam</h2>
    </div>
    
    <div class="container">
        <div class="accordion" id="resource2">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading2">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                        First Pillar: Syahadat
                    </button>
                </h2>
                <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#resource2">
                    <div class="accordion-body">
                        <p>
                            أَشْهَدُ أَنْ لَا إِلَهَ إِلَّا اللهُ وَأَشْهَدُ أَنَّ مُحَمَّدًا رَسُوْلُ الل
                            <br>
                            "Asyhadu an laa ilaha illallah, wa asyhadu anna muhammadar rasulullah."
                            <br>
                            It reads: "I bear witness that there is no deity but God, and I bear witness that Muhammad is the Messenger of God."
                            this states that you truly submits your will into allah’s & muhammad SAW will, so anything allah forbids, you also forbids yourself from it, and anything allah will you to do, you do it. Do it in moderation and do it as best as <a href="https://hamariweb.com/islam/hadith/sahih-bukhari-7288#:~:text=Narrated%20Abu%20Huraira%3A%20The%20Prophet,then%20keep%20away%20from%20it.">possible</a>
                            <br>Submitting your will to God and His last messenger is an act of putting your trust in their judgements (God’s and Muhammad’s). Because really, you have no way of knowing what lies ahead of time, sometimes you don’t even know if something is good or <a href="https://quran.com/en/al-baqarah/216 ">bad</a>                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="accordion" id="resource3">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading3">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                        Second Pillar: Sholat
                    </button>
                </h2>
                <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#resource3">
                    <div class="accordion-body">
                        <p>
                            There are 5 daily prayers, its time is determined by various positions of the sun.
                            <ol>
                                <li> Subuh: 2 units of prayer. When the sun is about to rise.</li>
                                <li> Dzuhur: 4 units of prayer. When the sun is just about to move to the west, after reaching its zenith.</li>
                                <li> Ashr: 4 units of prayer. When the sun is a third way into setting.</li>
                                <li> Maghrib: 3 units of prayer. When the sun is about to set.</li>
                                <li> Isya: 4 units of prayer. When the sun is completely set and no sunlight present.</li>
                            </ol>
                            Further readings: <a href="https://www.al-islam.org/philosophy-islamic-laws-naser-makarem-shirazi-jafar-subhani/question-79-how-pray-and-fast-polar">The philosophy of 5 daily prayers</a>
                            <br>5 daily prayers at specific time is tied to the remembrance of Allah. It is also an act of always purifying yourself, physically with wudhu, and mentally, throughout the <a href="https://sunnah.com/bukhari:528">day</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="accordion" id="resource4">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading4">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                        Third Pillar: Ramadhan Fasting
                    </button>
                </h2>
                <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#resource4">
                    <div class="accordion-body">
                        <p>
                            On the holy month of Ramdahan, Allah requests of you to do fasting, from sunrise to sunset. There is a significant health benefit in doing <a href="https://www.ikca.org.uk/news/physical-health-benefits-fasting/">fasting</a>.
                            <br>But truly, doing this is above health reasons, it is an act of taqwa, act of submission to <a href="https://islamigems.com/what-is-fasting-in-islam-ramadan/">God</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="accordion" id="resource5">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading5">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                        Fourth Pillar: Zakat (Obligatory Charity)
                    </button>
                </h2>
                <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive" data-bs-parent="#resource5">
                    <div class="accordion-body">
                        <p>
                            Every end of Ramadan, there is zakat fitrah. 
                            And every 1 hijri year, if you had a disposable income the worth of 85 grams of gold, you are obligated to donate 2,5%. Read more: 
                            <a href="https://en.wikipedia.org/wiki/Zakat">Zakat</a>
                            <br>This act of charity tied tightly with the act of Islam that does not only focus on your relationship with Allah, but also your 
                            <a href="https://islamigems.com/importance-and-philosophy-of-zakat-in-islam">relationship with others</a>.

                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="accordion" id="resource6">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading6">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
                        Fifth Pillar: Hajj (Mecca Pilgrimage)
                    </button>
                </h2>
                <div id="collapseSix" class="accordion-collapse collapse" aria-labelledby="headingSix" data-bs-parent="#resource6">
                    <div class="accordion-body">
                        <p>
                            The pilgrimage to Mecca is obligatory once you have the money and energy to do so. Read more: <a href=" https://en.wikipedia.org/wiki/Hajj">Hajj</a>.
                            <br>This is a manifestation of the mental and physical submission to Allah. You will go through a series of acts of worship, within 5 to 6 days of Hajj.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}